In [1]:
import os

import pandas as pd
import numpy as np

from utils import tot_claim_cnt_l180d, disb_bank_loan_wo_tbc, day_sinlastloan

In [15]:
CURRENT_DIR = os.getcwd()

In [16]:
# Load the data
df = pd.read_csv(f'{CURRENT_DIR}/data.csv')
contract_features = pd.DataFrame()

In [17]:
features = pd.read_excel(f'{CURRENT_DIR}/features.xlsx')

In [18]:
features

,No,Feature,Logic,If missing value
0,1,tot_claim_cnt_l180d,Description: number of claims for last 180 day...,"In case no claims, then put -3 as a value of t..."
1,2,disb_bank_loan_wo_tbc,Description: Sum of exposue of loans without T...,"In case no claims, then put -3 as a value of t..."
2,3,day_sinlastloan,Description: Number of days since last loan. \...,"In case no claims at all, then put -3 as a val..."

In [19]:
df.head()

,id,application_date,contracts
0,2925210.0,2024-02-12 19:22:46.652000+00:00,NaN
1,2925211.0,2024-02-12 19:24:29.135000+00:00,"[{""contract_id"": 522530, ""bank"": ""003"", ""summa..."
2,2925212.0,2024-02-12 19:24:41.493000+00:00,NaN
3,2925213.0,2024-02-12 19:24:29.135000+00:00,"[{""contract_id"": 522530, ""bank"": ""003"", ""summa..."
4,2925214.0,2024-02-12 19:24:56.857000+00:00,NaN

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1000 non-null   float64
 1   application_date  1000 non-null   object
 2   contracts         495 non-null    object
dtypes: float64(1), object(2)
memory usage: 23.6+ KB

In [21]:
df.replace(np.nan, None, inplace=True)

In [22]:
df.head()

,id,application_date,contracts
0,2925210.0,2024-02-12 19:22:46.652000+00:00,None
1,2925211.0,2024-02-12 19:24:29.135000+00:00,"[{""contract_id"": 522530, ""bank"": ""003"", ""summa..."
2,2925212.0,2024-02-12 19:24:41.493000+00:00,None
3,2925213.0,2024-02-12 19:24:29.135000+00:00,"[{""contract_id"": 522530, ""bank"": ""003"", ""summa..."
4,2925214.0,2024-02-12 19:24:56.857000+00:00,None

In [23]:
contract_features['tot_claim_cnt_l180d'] = df['contracts'].apply(tot_claim_cnt_l180d)

In [24]:
contract_features['disb_bank_loan_wo_tbc'] = df['contracts'].apply(disb_bank_loan_wo_tbc)

In [25]:
contract_features['day_sinlastloan'] = df.apply(lambda x: day_sinlastloan( x.contracts, x.application_date), axis=1)

In [26]:
contract_features.head()

   tot_claim_cnt_l180d  disb_bank_loan_wo_tbc  day_sinlastloan
0                   -3                     -3               -3
1                   53                      0              430
2                   -3                     -3               -3
3                   53                      0              430
4                   -3                     -3               -3

In [27]:
contract_features.to_csv('contract_features.csv', columns=contract_features.columns, index=False)